/* nabar */
a.navbar-brand {
  color: white;
}

#p {
  color: red;
}

#h {
  color: yellow;
}

#o {
  color: limegreen;
}

#t {
  color: skyblue;
}

#g {
  color: lightseagreen;
}

#r {
  color: yellow;
}

#a {
  color: limegreen;
}

#y {
  color: cornflowerblue;
}

li.active a {
  color: yellow;
}

/* slide */
#home .carousel-item {
  overflow: hidden;
}

#home .carousel-item img {
  width: 750px;
}

/* news photo */
#new .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#new #title h1 {
  margin-top: -50px;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0px black;
}

#new .col {
  margin: 5px -7px;

}

#new .col a img {
  width: 100%;
}

/* parallax new */
#new {
  background-image: url(../img/green-parallax-image2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.copyright {
  margin-top: -30px;
}

/* animate */
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}