/* Navbar */
.navbar-nav {
    padding-right: 20px;
}

.nav-item {
    padding-right: 25px;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bg-nontrans {
    background-color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 575px) {
    .bg-light {
        background-color: rgba(255, 255, 255, 1) !important;
    }

    #home {
        margin-top: 55px;
    }
}

.pp {
    width: 200px;
}

.pp img {
    width: 200px;
}

/* CAROUSEL */
#myCarousel {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
}

/* section */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#home {
    padding-top: 0px;
    padding-bottom: 0px;
}

#about,
#gallery,
#contact {
    height: 700px;
}

/* Scroll effect */
html {
    scroll-behavior: smooth;
}

/* .buttom */
.btn-primary-custom {
    background-color: red;
}

/* CAROUSEL */
#myCarousel {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
}

/* section */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#home {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Scroll effect */
html {
    scroll-behavior: smooth;
}

/* .buttom */
.btn-primary-custom {
    background-color: red;
}

h1 {
    background: white;
    border: solid 1mm black;
    border-radius: 20px;
}

/* PARALLAX */
.parallax {
    background-image: url('img/repeat.jpg');
    background-position: center;
    background-repeat: repeat;
}

.parallax2 {
    background-image: url('img/nature (36).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2.overlay span {
    position: absolute;
    width: 100%;
    height: 100%;
}

.parallax3 {
    background-image: url('img/04.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    background-image: url('img/04.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* gallery */
.gallery-feed img {
    margin-bottom: 30px;
    width: 100%;
}

.gallery-feed1 img {
    filter: gray;
    -webkit-filter: grayscale(1);
    margin-bottom: 30px;
    width: 100%;
}

.gallery-feed1 img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* about */
.gambar-about {
    flex: 100%;
    max-width: 100%;
    background-color: white;
    padding-left: 100px;
    color: black;
    position: relative;
}

.gambar-about .paragraf {
    position: absolute;
    color: black;
    top: 60px;
    right: 50px;
    left: 620px;
}

.gallery {
    font: 18px/36px 'arial narrow', arial, sans-serif;

}

.container-fluid {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #666;
    float: left;
    margin-right: 10px;
    position: relative;
}

.gallery li span {
    display: blok;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 120px;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: 1s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 1s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -13px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}